<div class="container main">

<div class="jumbotron">

</div>
<hr>
<div class="row">

  <div class="col-md-4">
  <div class=" text-center">
    <div class="well">
      <p>Enter your quote in the form below</p>
    </div>
    <app-quote-form [addNewQuote]='addNewQuoteFunc' ></app-quote-form>
  </div>
</div>

<!-- <div class="row"> -->
<div class="col-md-8">
    <div *ngFor="let quote of quotes;let i = index">
      <div class="row">
        <!-- <div class="col" > -->
        <div class="panel panel-info" >
          <div class="panel-body">
          <div id="{{i}}">
            <h1><span appHighest>{{quote.title}}</span></h1>
            <app-quote-details [quote]='quote' (isRating)='increaseRating($event,i)' (isDelete)='deleteQuote($event,i)'></app-quote-details>
          </div>
        </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
</div>
<!-- </div> -->
</div>
</div>
