/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body,html{
  height: 100%;
}

body{
  /* The image used */
  background-image: url("./wall.jpeg");
  /* Set a specific height */
  /* Position and center the image to scale nicely on all screens */
  background-position:center;
  background-repeat:repeat;
  background-size:cover;
  position:relative;
}
